.contact {
	@include pad;
	height: 100vh;

	display: flex;
	flex-wrap: wrap;

	background-color: lightsteelblue;
}

.contact__text {
	padding-top: 3.5em;
	padding-bottom: 1em;

	font-family: $gaga;
	text-align: center;
	line-height: 1.5em;
	color: $dark-blue;
	text-shadow: 0 1px 1px white;
}

.contact__contacts-wrap {
	width: 100%;
	padding-right: 7%;
}

.contact__contacts {
	padding-bottom: 0.5em;
	padding-top: 0.5em;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	&--1 {
		border-top: 1px dashed $blue;
	}
}

.contact__svg {
	height: 30px;
	width: 30px;

	&--tel {
		fill: lightcoral;
	}

	&--mail {
		fill: teal;
	}

	&--small {
		margin-bottom: -4px;
		height: 40px;
		width: 40px;
	}
}

.contact__link {
	font-family: $boom;
	font-size: 0.8em;

	text-shadow: 0 0 1px white;
}

.contact__img-wrap {
	margin: auto auto 0;
	height: 25vh;
}

.contact__img {
	height: 25vh;

	vertical-align: bottom;
}

@media (min-width: $big-mob) {
	.contact__contacts-wrap {
		padding-left: 7%;
	}
}
