@font-face {
	font-family: "Gagalin";
	src: url(../fonts/Gagalin.woff2),
	url(../fonts/Gagalin.woff);
}

@font-face {
	font-family: "lobster";
	src: url(../fonts/lobster.woff2),
	url(../fonts/lobster.woff);
}

@font-face {
	font-family: "Boomboom";
	src: url(../fonts/boomboom.woff2),
	url(../fonts/boomboom.woff);
}

@font-face {
	font-family: "AMG Anahit";
	src: url(../fonts/amganahitsemiserif.woff2),
	url(../fonts/amganahitsemiserif.woff);
}

$gaga: "Gagalin", "Comic Sans MS", cursive;
$lob: "lobster", "Arial", sans-serif;
$boom: "Boomboom", "Arial", sans-serif;
$anahit: "AMG Anahit", "Times New Roman", serif;
