.nav-header {
	position: fixed;
	z-index: 10;

	width: 100%;

	background-color: rgba(0, 0, 0, 0.4);
}

.nav-header__list {
	height: 2.5em;

	display: flex;
	flex: 1 1 100%;
	justify-content: space-around;
	align-items: center;

	font-family: $lob;
	color: white;
	text-shadow: 0 1px 0 black, 0 -1px 0 black;
}


.nav-header__item {
	height: 100%;

	flex-basis: 33.3%;
	text-align: center;
	line-height: 2.5em;
}

.nav-header__link {
	padding: 0 1em;

	display: block;

	&:hover {
		position: relative;
		background-color: rgba(0, 0, 0, 0.5);

		&::before {
			position: absolute;
			left: 0;
			width: 100%;
			height: 100%;
			background: #fff;
			filter: blur(10px);
			content: "";
			opacity: 0;
			animation: flash 4s ease-out alternate infinite;
		}
	}
}

@media (min-width: $desk) {
	.nav-header__list {
		max-width: 1200px;
		margin: 0 auto;
	}
}
