.work-natali {
	padding-top: 4em;
	@include pad;
	background-color: lavender;
}

.work-natali__title2 {
	font-family: $gaga;
	color: #000031;
	text-align: center;
	font-size: 1.3em;
}

.work-natali__title3 {
	padding-top: 1.5em;
	padding-bottom: 1.5em;

	font-family: $lob;
	font-size: 1.3em;
	color: $blue;
	text-decoration: underline;
}

.work-natali__use {
	padding-bottom: 1.5em;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.work-natali__use-span {
	width: 4em;
	height: 2.5em;

	background-color: #878787;

	font-family: $anahit;
	font-size: 0.7em;
	line-height: 3em;
	color: white;
	text-transform: uppercase;
	text-align: center;
	border-radius: 5px;
	box-shadow: inset 0px 1px 0px #e6e6e6, 0px 2px 0px 0px #767676, 0px 5px 5px #999999;
}

.work-natali__img-wrap {
	padding-top: 0;
	padding-bottom: 0;
	height: 100%;

	overflow: hidden;
}

.work-natali__img {
	width: 100%;

	transition: all 1s ease-out;

	&:hover {
		transform: scale(1.5);
		transform-origin: 7% -15%;
	}
}

.work-natali__text {
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: $anahit;
	font-size: 0.8em;
	text-shadow: 0 1px 1px white;
}

@media (min-width: $big-mob) {
	.work-natali__use-span {
		width: 6em;
	}
}

@media (min-width: $tab) {
	.work-natali__use-span {
		width: 7em;
	}

	.work-natali__title3 {
		text-align: center;
	}

	.work-natali__use {
		justify-content: space-around;
	}
}


@media (min-width: $desk) {
	.work-natali__site {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.work-natali__title3 {
		flex-basis: 100%;
		order: 0;
	}

	.work-natali__img-wrap {
		padding: 0.5em 0.5em 0 1em;

		flex-basis: 40%;
		order: 1;
	}

	.work-natali__text-wrap {
		padding-left: 1em;
		padding-top: 0.5em;

		flex: 1 1 50%;
		order: 2;
	}

	.work-natali__text {
		padding-top: 0;
	}

	.work-natali__use {
		margin-left: auto;
		margin-top: -3em;

		order: 3;
		justify-content: space-between;
		flex-basis: 54.5%;
	}

	.work-natali__use-span {
		width: 5em;
	}
}